<div class="chat-top">
  <div class="left-header">
    <div class="room-info">
      hogehuga
    </div>
  </div>
  <div class="right-header">
    <div class="room-end">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>
<div class="chat-body">
  <% @message.each do |message| %>
  <%= render partial: 'message',collection: @messages %>
</div>
  <%= form_with model:[@room,@message], class: 'form', local: ture do |f| %>
  <div class="form-input">
    <%= f.text_field :content, class: 'form-messge', placeholder: 'type a massage' %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
  <%= f.submit '送信', class: 'form-submit' %>
  <% end %>